body{
  background-color: hsla(100, 20%, 80%, 0.8);
}
h1{
  text-align: center;
}

header{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
}

.box{
  width:  100px;
  height: 100px;
  margin: 10px auto 10px auto;

}

.box:hover{
  border: solid 1px #FF0000;
}

#box-1{
  background-color: #00AAFF;
}

#box-2{
  background-color: #00FFAA;
}
