body{
  background-color: hsla(100, 20%, 80%, 0.8);
}
h1{
  text-align: center;
}

header{
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
}

.box{
  width:  100px;
  height: 100px;
  margin: 10px auto 10px auto;
}

.box:hover{
  border: solid 1px #FF0000;
}

.palette{
  background-color: hsla(33, 70%, 22%, .9);
  margin: 40px 10px 40px 30px;
  padding: 30px;
  float: left;
}

.destinations{
  background-color: #111111;
  margin: 40px 30px 40px 10px;
  padding: 30px;
  float: right;
}

.destinations .box{
  background-color: #FFFFFF;
}

#box-1{
  background-color: #00AAFF;
}

#box-2{
  background-color: #00FFAA;
}
